################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/Debug/netcoreapp3.1
/obj
/.vs/ConsoleApp/v16
/.vs/ConsoleApp/DesignTimeBuild/.dtbcache.v2
